.Main-background {
    /* This will make the div fill the entire background space. 
    Might not be the most professional thing but oh well*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: blanchedalmond;

    /* Centering the div's children*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Information is visualsed top to bottom*/
}
.Board-container {
    width: 40%;

    aspect-ratio: 1 / 1; /* Container is always square */
    /* background-color: red; /* Color just to see where the container lives */
    
}